
<footer class="uc_healthFooter">
	<nav class="uc_healthFooter__superNav">
		<div class="uc_healthFooter__superNavInner"> 
			<div class="uc_healthFooter__contact">
				<div class="uc_healthFooter__contactName"> 
					<h1>UCONN</h1>
					<h3>HEALTH</h3>
				</div>
				<div class="uc_healthFooter__contactAppointment">
					<h4>MAKE AN APPOINTMENT</h4>
					<h2>1-84-GET-UCONN</h2> 
				</div>
				<address class="uc_healthFooter__contactAddress"> 
					263 Farmington Avenue<br>
					Farmington, Connecticut, 06030
				</address> 
			</div>
			<div class="uc_healthFooter__links uc_healthFooter__links--blue"> 
				<h4>INFORMATION FOR:</h4>
				<ul>
					<li>
						<a href="http://health.uconn.edu/plan-your-visit/patient-resources/" class="uc_healthFooter__link">Patients</a>
					</li>
					<li>
						<a href="http://health.uconn.edu/plan-your-visit/visitor-resources/" class="uc_healthFooter__link">Visitors</a>
					</li>
					<li>
						<a href="http://health.uconn.edu/donors-and-volunteers/" class="uc_healthFooter__link">Donors/Volunteers</a> 
					</li>
					<li>
						<a href="http://health.uconn.edu/faculty-and-staff/" class="uc_healthFooter__link">Faculty &amp; Staff</a>
					</li>
					<li>
						<a href="http://health.uconn.edu/research/" class="uc_healthFooter__link">Research</a>
					</li>
				</ul> 
			</div>
			<div class="uc_healthFooter__links"> 
				<ul>
					<li>
						<a href="http://health.uconn.edu/find-a-provider/" class="uc_healthFooter__link">Find a Doctor or Dentist</a> </li>
					<li>
						<a href="http://health.uconn.edu/request-an-appointment/" class="uc_healthFooter__link">Request an Appointment</a>
					</li> 
					<li>
						<a href="http://health.uconn.edu/plan-your-visit/locations-and-directions/" class="uc_healthFooter__link">Find a Location</a>
					</li> 
					<li>
						<a href="http://health.uconn.edu/access-myuconnhealth/" class="uc_healthFooter__link">Access myUConnHealth</a>
					</li> 
				</ul>
			</div>
			<div class="uc_healthFooter__links">
				<ul> 
					<li>
						<a href="http://health.uconn.edu/contact-us/" class="uc_healthFooter__link">Contact Us</a>
					</li> 
					<li>
						<a href="http://health.uconn.edu/human-resources/" class="uc_healthFooter__link">Careers</a>
					</li> 
					<li>
						<a href="https://uconnhealthexpress.uchc.edu/" class="uc_healthFooter__link">UConn Health Express</a>
					</li> 
					<li>
						<a href="http://health.uconn.edu/closing-and-cancellations/" class="uc_healthFooter__link">Closings and Cancellations</a>
					</li> 
					<li>
						<a href="http://health.uconn.edu/disclaimersprivacy/" class="uc_healthFooter__link">Disclaimers/Privacy</a>
					</li> 
				</ul>
			</div>
		</div>
	</nav>
	<nav class="uc_healthFooter__subNav">
		<div class="uc_healthFooter__subNavInner">
			<a href="http://health.uconn.edu/" class="uc_healthFooter__link">UConn Health Home</a>
			<a href="http://health.uconn.edu/contact-us/" class="uc_healthFooter__link">Contact Us</a>
			<a href="http://health.uconn.edu/disclaimersprivacy/" class="uc_healthFooter__link">Disclaimers and Privacy</a>
			<a href="http://uconn.edu/" class="uc_healthFooter__link">UConn Home</a> 
			<p class="uc_healthFooter__text">&copy;2016 UConn Health</p>
		</div>
	</nav>
</footer>
