
/**
	* @name Color Classes
	* @description Sets the specified color property to the specified color.
	* @markup .uc_[COLOR NAME]-[COLOR TYPE]
	* 	
	* @state .uc_[COLOR NAME]-c = sets the color to COLOR NAME.
	* @state .uc_[COLOR NAME]-bg = sets the background-color to COLOR NAME.
	* @state .uc_[COLOR NAME]-bd = sets the border-color to COLOR NAME.
	*/

$color-types: ((c,color), (bg,background-color), (bd,border-color));

@each $c in $uconn-colors {
	@each $ct in $color-types {
		.#{$prefix}_#{nth($c,1)}-#{nth($ct,1)} {
			#{nth($ct,2)}:nth($c,2);
		}
	}
}

/**
	* @name Gradient Classes
	* @description Sets the background-image property to the specified gradient.
	* @markup .uc_[COLOR A]-to-[COLOR B]
	* 	
	* @state .uc_[COLOR A]-to-[COLOR B]--reverse = Reverses the order of the colors in the gradient.
	*/

@each $g in $uconn-gradients {
	$a: nth(nth($uconn-colors,nth($g,1)),2);
	$b: nth(nth($uconn-colors,nth($g,2)),2);
	.#{$prefix}_#{nth(nth($uconn-colors,nth($g,1)),1)}-to-#{nth(nth($uconn-colors,nth($g,2)),1)} {
		background-image:linear-gradient(to bottom, #{nth(nth($uconn-colors,nth($g,1)),2)}, #{nth(nth($uconn-colors,nth($g,2)),2)});
	}
	.#{$prefix}_#{nth(nth($uconn-colors,nth($g,1)),1)}-to-#{nth(nth($uconn-colors,nth($g,2)),1)}--reverse {
		background-image:linear-gradient(to bottom, #{nth(nth($uconn-colors,nth($g,1)),2)}, #{nth(nth($uconn-colors,nth($g,2)),2)});
	}
}

