
.#{$prefix}_healthFooter {
	@include secondary-font;
}

.#{$prefix}_healthFooter * {
	text-align:left!important;
}

.#{$prefix}_healthFooter__superNav {
	background-color:#ebebeb;
	border-top:1px solid #ccc;
}

.#{$prefix}_healthFooter__superNavInner {
	width:100%;
	max-width:$banner-max-width;
	margin:0 auto;
	overflow-y:hidden;
	box-sizing:border-box;
	padding:1em;
}

.#{$prefix}_healthFooter__contact {
	float:left;
	box-sizing:border-box;
	padding:1em;
	width:100%;
}

.#{$prefix}_healthFooter__contactName {
	line-height:3em;
	margin:0.5em 0;
	h1 {
		text-align:left!important;
		@include uconn-font;
		color:$bannerDarkBlue!important;
		font-size:3.5em;
		font-weight:lighter;
		display:inline-block;
		vertical-align:middle;
		margin:0;
		padding-right:0.15em;
	}
	h3 {
		text-align:left!important;
		@include secondary-font;
		color:$bannerDarkBlue!important;
		display:inline-block;
		font-size:1.5em;
		vertical-align:middle;
		margin:0;
	}
}

.#{$prefix}_healthFooter__contactAppointment {
	margin:2em 0;
	h4 {
		text-align:left!important;
		color:$bannerDarkBlue!important;
		margin:0;
		font-size:1.1em;
	}
	h2 {
		text-align:left!important;
		color:$bannerDarkBlue!important;
		margin:0;
		font-size:2em;
	}
}

.#{$prefix}_healthFooter__contactAddress {
	font-style:normal;
	font-size:1.1em;
}

.#{$prefix}_healthFooter__links {
	text-align:left!important;
	color: $blueGrey;
	border-color:$blueGrey;
	float:left;
	padding:1em;
	box-sizing:border-box;
	width:100%;

	ul {
		padding:0;
		list-style:none;
		margin:0;
	}

	.#{$prefix}_healthFooter__link {
		display:inline-block;
		&:hover {
			color:$textDarkBlue;
		}
	}
	
	li:first-child {
		.#{$prefix}_healthFooter__link {
			padding-top:0;
		}
	}
}

.#{$prefix}_healthFooter__links--blue {
	color: $bannerDarkBlue;
	border-color:$bannerDarkBlue;
	h4 {
		font-size:1em;
		margin:0 0 0.5em;
	}
	.#{$prefix}_healthFooter__link:hover {
		color:$textYellow;
	}
}

@media (min-width:34em) {
	.#{$prefix}_healthFooter__links {
		width:50%;
	}
	.#{$prefix}_healthFooter__links--blue {
		width:100%;
	}
}
@media (min-width:44em) {
	.#{$prefix}_healthFooter__links {
		width:33.333333%;
		ul {
			margin:1.5em 0 0;
		}
	}
	.#{$prefix}_healthFooter__links--blue {
		ul {
			margin:0;
		}
	}
}

@media (min-width:68em) {
	.#{$prefix}_healthFooter__contact {
		width:30%;
		max-width:25em;
	}
	.#{$prefix}_healthFooter__links {
		width:23%;
		margin-top:2em;
		max-width:15em;
	}

}

.#{$prefix}_healthFooter__link {
	text-align:left!important;
	color:inherit;
	font-size:1em;
	padding:0.5em 0;
	text-decoration:none;
	position:relative;
	transition:color 0.15s cubic-bezier(.66,.01,.36,1);

	&::before,
	&::after {
		content:"";
		position:absolute;
		bottom:0.5em;
		border-color:inherit;
		border-bottom:1px solid;
		height:0;
		width:0;
		transition:width 0.15s cubic-bezier(.66,.01,.36,1);
	}
	&::before {
		left:0;
	}
	&::after {
		right:0;
	}

	&:hover {
		text-decoration:none;
	}

	&:hover::before,
	&:hover::after {
		width:50%;
	}
}

.#{$prefix}_healthFooter__text {
	text-align:left!important;
	display:inline-block;
	padding:0.5em 0;
}

.#{$prefix}_healthFooter__subNav {
	background-color:$bannerDarkBlue;
	color:#ccc;
}

.#{$prefix}_healthFooter__subNavInner {
	max-width:$banner-max-width;
	margin:0 auto;
	box-sizing:border-box;
	padding:2em 1em;
	
	.#{$prefix}_healthFooter__link,
	.#{$prefix}_healthFooter__text {
		margin:0.5em 3em 0.5em 1em;
	}

	.#{$prefix}_healthFooter__link {
		display:inline-block;
		&:hover {
			color:white;
		}
	}
}
