//Author: Tim Morris, 2016 (except where noted)

//Class namespace
$prefix: uc;

// Color Variables
$lightBlue : #03357a;
$darkBlue : #01062c;
$buttonBlue : rgb(26,71,152);
$textLightBlue : #008cba;
$textDarkBlue : #263a75;
$textYellow : #ffa902;
$bannerDarkBlue : #000e2f;
$blueGrey : #7c878e;


//Array of color variables
$uconn-colors: (
	(lightBlue, $lightBlue),
	(darkBlue, $darkBlue),
	(buttonBlue, $buttonBlue),
	(textLightBlue, $textLightBlue),
	(textDarkBlue, $textDarkBlue),
	(textYellow, $textYellow),
	(bannerDarkBlue, $bannerDarkBlue),
	(blueGrey, $blueGrey)
	(halfBlack, rgba(0,0,0,0.5))
) !default;


//Array of gradient classes to be created.
//Usage: (start color index in colors array, end color index in colors array),
$uconn-gradients: (
	(1, 2),
) !default;

//Font variables. Original author Brian Daley
$uconn-font: "UConn" !default;
$secondary-font: "Proxima Nova" !default;
$fallback-fonts: Verdana, Arial, Helvetica, sans-serif !default;
$font-base-url: "//uconn.edu/shared/fonts" !default;

//Max width of all banner and footer components
$banner-max-width:75em;
